<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>单位用户登录</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" media="all">
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <script th:src="@{/layui/layui.all.js}"></script>
</head>
<body class="layui-layout-body">
    <div id="body">
        <div id="header">
            <span>单位用户登录 --> 输入登录信息</span>
        </div>
        <div id="login">
            <div id="span1">
                <span>单位用户登录</span>
            </div>
            <form th:action="@{/}" method="post" class="layui-form">
                <div class="layui-form-text layui-inline" id="span2">
                    <span th:text="${error}">error</span>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="agentName" id="agentName" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="agentPassword" id="agentPassword" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">验证码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="code" id="code" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">
                        <br>
                        <img th:src="@{/}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block layui-input-inline">
                        <input type="submit" class="layui-btn" value="登录">
                        <!--<input type="reset" class="layui-btn" value="重置">-->
                        <a th:href="@{/test/page3}" type="button" class="layui-btn">注册</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>