#body{
    background-color: #F8F8F8;
    height: 1500px;
    overflow: auto;
}
#header{
    width: 100%;
    padding-top: 40px;
    background-color: #B8B8B8;
    margin-bottom: 5px;
}
#header span{
    font-size: 25px;
    font-family: 楷体;
    color: #0066CC;
}
#login{
    margin-left: 400px;
    margin-top: 40px;
    background-color: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 360px;
    box-shadow: 5px 5px 9px #B8B8B8;
}
#span1{
    margin-top: -65px;
    margin-left: 120px;
    margin-bottom: 40px;
    font-size: 20px;
}
#span2{
    margin-top: -35px;
    margin-left: 160px;
    font-size: 20px;
    position: absolute;
    color: #FF0000;
}