#body{
    background-color: #F8F8F8;
    height: 2000px;
    overflow: auto;
}
#header{
    width: 100%;
    padding-top: 70px;
    background-color: #B8B8B8;
    margin-bottom: 5px;
}
#header span{
    font-size: 25px;
    font-family: 楷体;
    color: #0066CC;
    position: absolute;
    top: 20px;
    left: 50px;
}
#register{
    margin-left: 400px;
    margin-top: 40px;
    background-color: #FFFFFF;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 360px;
    box-shadow: 5px 5px 9px #B8B8B8;
}
#span1{
    position: absolute;
    margin-top: -55px;
    margin-left: 115px;
    font-size: 20px;
}